Решаем задачи на codeforces.com
- 975/C  A
- 816/B  
- 1463/A  
- 214/A  
- 999/A  
- 918/A  
- 1702/D  
- 2/A  
- 1566/A

In [ ]:
m = n + n//7*2

m = n + n/7*2

m = n*(1 + 2/7)

n = m/(1 + 2/7)  # Целое число

In [1]:
s = set()
s = {1,2,3}

In [2]:
s.add(4)

In [3]:
4 in s

True

In [4]:
"".join(["1", "2"])

'12'

In [5]:
ord("a")

97

In [6]:
chr(97)

'a'

In [7]:
import string

In [8]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [10]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [11]:
min([1,2,4])

1

In [12]:
sum([1,2,4])

7

In [ ]:
"1 2 3"
["1", "2", "3"]
[1,2,3]

In [ ]:
a,b,c = map(int, input().split())

In [13]:
a = b = 1

In [14]:
a,b

(1, 1)

In [15]:
from itertools import accumulate

In [17]:
list(accumulate([1,2,3,4,5,6,7]))

[1, 3, 6, 10, 15, 21, 28]

In [ ]:
d = {'1': 'a1', '2': 'a2'}
d1 = {}
for k,v in d.items():
    d1[v] = k